# Dependencies
node_modules/

# Expo / Metro
.expo/
dist/
web-build/
.metro-health-check*

# Env
.env
.env*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
*.tsbuildinfo
